<!doctype html>
<html>

<head>
    <title>Line Chart Multiple Axes</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
    <script src="../static/utils.js"></script>
</head>


<body>
<div style="width:75%;">
    <canvas id="canvas"></canvas>
</div>

<script>
    var lineChartData = {
        datasets: [{
            label: 'Progress',
            borderColor: window.chartColors.red,
            backgroundColor: window.chartColors.red,
            fill: false,
            data: [{
                x: new Date(Date.now() - 1000 * 60),
                y: 20
            }, {
                x: new Date(Date.now() - 500 * 60),
                y: 10
            }],
            yAxisID: 'y-axis-1',
        }, {
            label: 'Process CPU',
            borderColor: window.chartColors.blue,
            backgroundColor: window.chartColors.blue,
            fill: false,
            data: [{
                x: new Date(Date.now() - 1000 * 60),
                y: 1000
            }, {
                x: new Date(Date.now() - 300 * 60),
                y: 1002
            }],
            yAxisID: 'y-axis-2'
        }]
    };

    window.onload = function () {
        var ctx = document.getElementById('canvas').getContext('2d');
        window.myLine = Chart.Line(ctx, {
            data: lineChartData,
            options: {
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                title: {
                    display: true,
                    text: 'Observations'
                },
                scales: {
                    xAxes: [{
                        type: 'time',
                        ticks: {
                            source: 'data'
                        },
                        time: {
                            displayFormats: {
                                second: 'h:mm:ss'
                            }
                        }
                    }],
                    yAxes: [{
                        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: 'left',
                        id: 'y-axis-1',
                    }, {
                        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: 'right',
                        id: 'y-axis-2',

                        // grid line settings
                        gridLines: {
                            drawOnChartArea: false, // only want the grid lines for one axis to show up
                        },
                    }],
                }
            }
        });
    };
</script>
</body>

</html>
