<!DOCTYPE html>
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
    <meta charset="UTF-8">
    <title>SpookyLoop 5000 - A Mobile Progress Bar</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
</head>
<body>
<p>Brian Cohn, July 2023</p>
<h1>Walk away from your computer, get a notification when your build is done</h1>

<h2>Step 1</h2>
<a href="https://discord.gg/QVEdqj9">Join the discord server</a> and Copy your Discord ID number (instructions <a href="https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID">here</a>)

<h2>Step 2</h2>
<a href="/start">Click here to generate a Loop token enter your Discord ID number, and link your build</a><br>

<details><summary>Advanced</summary>
<a href="/newtoken">Get token via JSON</a>
</details>

</body>
