<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
</head>
<a href="/start">START</a><br>
<a href="/debug-sentry">Debug-sentry</a><br>
<a href="/process_over_request_ping/?token=3311f6d4-b4ba-498a-a3ad-b6989fcbb873&process_name=python3">Declare
    completed</a>
<a href="/webclient?token=3311f6d4-b4ba-498a-a3ad-b6989fcbb873&process_name=python3">WebClient</a><br>
