<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Loop Web Client</title>
    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
</head>
<body>
<header>
    <h1>Loop Web Client v0.1.0</h1>
</header>

<h6 id="cpu_title">CPU Use for </h6>

<h1 id="procPercentage" style="color:#440dc9"></h1>
<kbd id="procTime"></kbd>
<h6>progress</h6>
<h1 id="percentage" style="color:#2ca10c"></h1>
<kbd id="obsTime"></kbd>

<pre id="jsonRaw" style="font-size: 3px; margin-top: 80px"></pre>


</body>
<script type=text/javascript src="{{url_for('static', filename='jquery-3.5.1.min.js')}}" type="module"></script>
<script type=text/javascript src="{{url_for('static', filename='webclient.js')}}" type="module"></script>
</html>