<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>
    <meta charset="UTF-8">
    <title>Loop Web Client</title>
<link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css">
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" crossorigin="anonymous"></script>
    <script type="text/javascript">
        const url = new URL                  (window.location);
        const token = url.searchParams.get("token");
    </script>
</head>

<body>

<header>
    <h1>Loop Web Client v0.2.2</h1>
</header>
<details open>
    <summary>Setup</summary>
    <h1>Token Generated</h1><br>
    <script type="text/javascript">
        document.write(`<img href="${window.location.href}"><img width="100" src = "https://api.qrserver.com/v1/create-qr-code/?size=100x100&data=${window.location.href}"/></a>`)
    </script>

    <h2>cURL Snippet</h2>
    <pre id="curl_obs_code_snippet"></pre>
    <h2>Python Snippet</h2>
    <pre id="python_obs_code_snippet"></pre>
    <h2>MatLab</h2>
    <pre id="matlab_obs_code_snippet"></pre>
    <p>
        <a href="https://curl.trillworks.com/">
            Generate snippets for Ansible URI, MATLAB, Node.js, R, PHP, Strest, Go, Dart, JSON, Elixir, or Rust
        </a>
        <a href="https://gist.github.com/bc/766fb0c70e229b4018caf7c6cbc133e3">Right click to download CPU monitor
            script</a>
    <h3>Code to track CPU usage</h3>
    <pre id="bash_cpu_code_snippet"></pre>
    </p>


</details>

<details>
    <summary>Advanced Tools</summary>
        <p>
    <h6>Manually add cpu observations</h6>
    <a>
        <button class="post_cpu_onclick">0.0</button>
    </a>
    <a>
        <button class="post_cpu_onclick">0.2</button>
    </a>
    <a>
        <button class="post_cpu_onclick">0.4</button>
    </a>
    <a>
        <button class="post_cpu_onclick">0.6</button>
    </a>
    <a>
        <button class="post_cpu_onclick">0.8</button>
    </a>
    <a>
        <button class="post_cpu_onclick">1.0</button>
    </a>
    <a>
        <button class="post_cpu_onclick">4.0</button>
    </a>
    </p>


    <p>
    <h6>Manually add progress observations</h6>
    <a>
        <button class="post_obs_onclick">0.0</button>
    </a>
    <a>
        <button class="post_obs_onclick">0.2</button>
    </a>
    <a>
        <button class="post_obs_onclick">0.4</button>
    </a>
    <a>
        <button class="post_obs_onclick">0.6</button>
    </a>
    <a>
        <button class="post_obs_onclick">0.8</button>
    </a>
    <a>
        <button class="post_obs_onclick">1.0</button>
    </a>
    </p>

</details>

<h6 id="cpu_title">CPU</h6>
<h1 id="cpu_val" style="color:#440dc9">———</h1>
<kbd id="cpu_time">Loading Page</kbd>

<h6>Progress</h6>
<h1 id="obs_val" style="color:#2ca10c">———</h1>
<kbd id="obs_time">Loading Page</kbd>

<p>
<h3>Set Discord ID Info (so you can get a push notification) <a href="https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID">Instructions</a></h3>
<input type="tel" placeholder="Discord ID to text" id="discord_id_input">
<a>
    <button id="discord_set_button"
            onclick="post_contactinfo(document.getElementById('discord_id_input').value,'discord_set_button')">Set
    </button>
</a>
</p>
<canvas id="myChart" width="400" height="400"></canvas>


<h3>Ping me if:</h3>

<form id="set_predicates">
    CPU (where 0.2 means 20% CPU activity)
    <input type="checkbox" id="predicate_form_cpu_enabled" name="predicate_form_cpu_enabled" checked>
    <select name="predicate_form_cpu_comparator">
        <option value=">">goes above</option>
        <option value="<">goes below</option>
    </select>
    <input type="number" id="predicate_form_cpu_val" name="predicate_form_cpu_val" min="0" max="10" value="0.2"
           step="0.1"> OR
    <input type="checkbox" id="predicate_form_obs_enabled" name="predicate_form_obs_enabled" checked>
    Progress (where 0.9 means 90% complete)
    <select name="predicate_form_obs_comparator">
        <option value=">">goes above</option>
        <option value="<">goes below</option>
    </select>

    <input type="number" id="predicate_form_obs_val" name="predicate_form_obs_val" min="0.0" max="1.0" value="0.9"
           step="0.1">
</form>
<a>
    <button id="predicate_set_button"
            onclick="gen_and_send_predicate('set_predicates', 'predicate_set_button','predicate_raw')">Set
    </button>
</a>
<h6>Ping is armed when both are green. To re-arm the predicate, press Set above</h6>
<pre id="predicate_check_serverside">Serverside Predicate Status</pre>
<pre id="contactinfo_check_serverside">Serverside Contactinfo Status</pre>
<pre id="predicate_raw"></pre>

</body>
<script type=text/javascript src="static/webclient.js?version=1.4" type="module"></script>
<script type=text/javascript src="static/predicate_helpers.js?version=1" type="module"></script>

</html>